annotated-types==0.6.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dateutils==0.6.12
greenlet==3.0.3
idna==3.6
iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==23.2
pluggy==1.4.0
psycopg2==2.9.9
pydantic==2.6.3
pydantic_core==2.16.3
Pygments==2.17.2
pytest==8.0.2
pytest-dotenv==0.5.2
pytest-ordering==0.6
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
rich==13.7.1
six==1.16.0
SQLAlchemy==2.0.28
typing_extensions==4.10.0
urllib3==2.2.1